#pointDisplay {
    height: 55vh;
}

#selectFloor {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#addPoint form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 5px;
}

#connect form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5px;
    gap: 10px;
}