#ribbon {
    background-color: #8C1417;
    padding: 1%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#ribbon input[type=text] {
    background-color: transparent;
    border: none;
    font-size: 30px;
    font-weight: bold;
    color: white;
    outline: none;
}

#ribbon button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    color: white;
    cursor: pointer;
}

#newProject, #openProject {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.52);
    align-items:start;
    justify-content: center;
}

#newProject form, #openProject form {
    background-color: #CBDAED;
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    padding: 10px;
    margin-top: 10%;
    border-radius: 10px;
    gap: 10px;
}

#openProject #projectList {
    overflow-y: auto;
    font-size: 14px;
    max-height: 100px;
}