#searchOutput {
    height: 60vh;
    word-wrap: break-word;
    overflow-y: auto;
}

#search form {
    display: flex;
    flex-direction: row;
}

#search form select {
    flex: 2;
    flex-direction: row;
}