<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Building Mapping Tool</title>
    {% include 'stylesheet.html' %}
</head>

<script src="/static/js/connect.js"></script>
<script>
    const start = {{ startConnector | tojson }};
    const end = {{ endConnector | tojson }};
    const d = {{ distance | tojson }};
    const floor = new Floor(start, end, d);
</script>

<body>
    {% include 'ribbon.html' %}
    {% include 'nav.html' %}
    <script>
        document.getElementById("floor").style.backgroundColor = "#1B66A6";
        document.getElementById("floor").style.color = "white";
    </script>

    <div class="panel">
        <div class="card" id="manageFloor">
            <strong>Manage Floors</strong>
            <form action="/newFloor" method="post">
                <input type="text" name="floorName" placeholder="Floor Name" required />
                <input type="submit" value="Add" />
            </form>
            <p style="color: red; margin:0;">{{ newFloorError }}</p>
        </div>

        <div class="card" id="connectFloor">
            <strong>Connect Floors</strong>
            <form action="/connectFloor" method="post">
                <input type="text" name="floor1" placeholder="Floor" required/>
                <input type="text" name="point1" placeholder="Point 1" required/>
                <input type="text" name="floor2" placeholder="Floor" required/>
                <input type="text" name="point2" placeholder="Point 2" required/>
                <input type="number" step="0" min="1" placeholder="Distance" name="distance" required/>
                <input type="submit" value="Connect" />
            </form>
            <form action="/removeConnectFloor" method="post">
                <input type="text" name="point1" placeholder="Point 1" required/>
                <input type="text" name="point2" placeholder="Point 2" required/>
                <input type="submit" value="Remove" />
            </form>
            <p style="color: red; margin:0;">{{ connectFloorError }}</p>
        </div>

        <div class="card" id="search">
            <strong>Search</strong>
            <form action="/searchFloorConnect" method="post">
                <input type="text" name="point1" placeholder="Point 1" required/>
                <input type="text" name="point2" placeholder="Point 2" required/>
                <input type="submit" value="Search" />
            </form>
            <p id="floorSearchResult" style="margin:0; margin-top: 3px;">{{ floorSearchResult }}</p>
        </div>
    </div>

    <div class="container" id="floorDisplay">
        {{ floorContent|safe }}
    </div>
</body>
</html>