<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Building Mapping Tool</title>
    {% include 'stylesheet.html' %}
</head>

<body>
    {% include 'ribbon.html' %}
    {% include 'nav.html' %}
    <script src="/static/js/connect.js">s</script>
    <script>
        document.getElementById("point").style.backgroundColor = "#1B66A6";
        document.getElementById("point").style.color = "white";
        
        function selectFloor() {
            var selectBox = document.getElementById("selection");
            var value = selectBox.value;
            if  (value) {
                window.location.href="/point?floor=" + value;
            }
        }

        const p1 = {{ point1 | tojson }};
        const p2 = {{ point2 | tojson }};
        const d = {{ distance | tojson }};
        const point = new Point(p1, p2, d);
    </script>

    <div class="panel">
        <div class="card" id="selectFloor">
            <strong>Select Floor</strong>
            <select id="selection" onchange="selectFloor(this.value)">
                {{ floorSelection|safe }}
            </select>
        </div>
        
        <div class="card" id="addPoint">
            <strong>Add Point</strong>
            <form action="/addPoint" method="post">
                <input type="text" name="name" placeholder="Point Name" required />
                <select name="type" required>
                    <option value="Room">Room</option>
                    <option value="Checkpoint">Checkpoint</option>
                    <option value="Connector">Connector</option>
                </select>
                <select name="checkpoint" required>
                    <option value="true">Set as Checkpoint</option>
                    <option value="false">Not a Checkpoint</option>
                </select>
                <input id="floorInput1" type="hidden" name="floor" value="test" required />
                <input type="submit" value="Add" />
            </form>
            <form action="/deletePoint" method="post">
                <input type="text" name="name" placeholder="Point Name" required />
                <input id="floorInput2" type="hidden" name="floor" value="test" required />
                <input type="submit" value="Delete" />
            </form>
            <p style="color: red; margin:0;">{{ addPointError }}</p>
        </div>

        <div class="card" id="connect">
            <strong>Connect</strong>
            <form action="/connectPoint" method="post">
                <input type="text" name="point1" placeholder="Point 1" required />
                <input type="text" name="point2" placeholder="Point 2" required />
                <input type="number" name="distance" step="0" min="1" placeholder="Distance" required />
                <input id="floorInput3" type="hidden" name="floor" value="test" required />
                <input type="submit" value="Connect" />
            </form>
            <form action="/removePointConnect" method="post">
                <input type="text" name="point1" placeholder="Point 1" required />
                <input type="text" name="point2" placeholder="Point 2" required />
                <input id="floorInput4" type="hidden" name="floor" value="test" required />
                <input type="submit" value="Remove" disabled />
            </form>
            <p style="color: red; margin:0;">{{ connectPointError }}</p>
        </div>

        <div class="card" id="search">
            <strong>Search</strong>
            <form action="" method="post">
                <input type="text" name="point" placeholder="Point" required/>
                <input id="floorInput5" type="hidden" name="floor" value="test" required />
                <input type="submit" value="Search" />
            </form>
            <p id="floorSearchResult" style="margin:0; margin-top: 3px;">{{ pointSearchResult }}</p>
        </div>

        <script>
            const keyValues = window.location.search;
            const urlParam = new URLSearchParams(keyValues);
            const currentFloor = urlParam.get("floor");
            document.getElementById("selection").value = currentFloor;
            document.getElementById("floorInput1").value = currentFloor;
            document.getElementById("floorInput2").value = currentFloor;
            document.getElementById("floorInput3").value = currentFloor;
            document.getElementById("floorInput4").value = currentFloor;
            document.getElementById("floorInput5").value = currentFloor;
        </script>
    </div>

    <div class="container" id="pointDisplay">
        {{ displayRoom|safe }}
    </div>
</body>
</html>