<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Building Mapping Tool</title>
    {% include 'stylesheet.html' %}
</head>

<body>
    {% include 'ribbon.html' %}
    {% include 'nav.html' %}
    <script>
        document.getElementById("test").style.backgroundColor = "#1B66A6";
        document.getElementById("test").style.color = "white";
    </script>

    <div class="panel">
        <div class="card" id="search">
            <strong>Search</strong>
            <form action="/navigate" method="post">
                <select name="point1" required>
                    <option value="">--Select Starting Point--</option>
                    {{ options|safe }}
                </select>
                <select name="point2">
                    <option value="">--Select Destination--</option>
                    {{ options|safe }}
                </select>
                <button id="searchButton" type="submit">Search</button>
            </form>
        </div>
    </div>

    <div class="container" id="searchOutput">
        <p>{{ navigateResult|safe }}</p>
    </div>

    <script>
    </script>
</body>
</html>